.toggle-wrapper {
    right: calc(var(--spacing) / 2 + var(--scrollbar-width, 0px));
    bottom: var(--spacing);
    position: fixed;
}

.toggle {
    height: 2em;
    width: 3.75em;
    border-radius: 1em;
    padding: 0.25em;
    position: relative;
    transition: background var(--transition);
    cursor: pointer;
}

.toggle.enabled {
    background: var(--white);
}

.toggle.disabled {
    background: var(--primary);
}

.toggle::before {
    content: '';
    display: block;
    height: 1.5em;
    width: 1.5em;
    border-radius: 1em;
    position: absolute;
    z-index: 2;
    transform: translate(0);
    transition: transform var(--transition), background var(--transition);
}

.toggle.enabled::before {
    background: var(--background-color);
    transform: translateX(116%);
}

.toggle.disabled::before {
    background: var(--white);
}

.toggle input {
    opacity: 0;
    position: absolute;
    top: 0;
}

.toggle .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 0.1em;
}

.toggle .icons svg {
    height: 1em;
    width: 1em;
    z-index: 0;
}

.toggle.enabled .icons svg {
    fill: var(--background-color);
}

.toggle.disabled .icons svg {
    fill: var(--white);
}
